body{
     background-image: radial-gradient(circle, #5c0067 0%, #00d4ff 100%);
}

.main{
    width: 900px;
    height: 650px;
    margin-left: 350px;
    margin-top: 50px;
}
.first{
    width: 800px;
    height: 300px;
    background-color: #A64A0A;
}
.first h1{
    text-align: center;
    padding-top: 120px;
    font-size: 45px;
}
.second{
    width: 800px;
    height: 350px;
    background-color: #DD9446;
}
.second .page{
   text-align: center;
   padding-top: 20px;
   font-size: 15px;
   font-weight: 550;
   word-spacing: 15px;
   
}
.page a{
    color: darkgreen;
    text-decoration: none;
    font-size: 25px;
}

h2{
    font-size: 30px;
    margin-left: 10px;
}  
.second p{
    font-size: 20px;
}
.sentences p{
    color:  brown;
}
p{
    margin-left: 10px;
}

